

:root {
    --primary-color: #070707;
    --secondary-color: #D6CCC2;
    --tertiary-color: #F5EBE0;
    --quaternary-color: #E3D5CA;
    --quinary-color: #D5BDAF; 
  }
  
  .navcontainer {
    display: flex; 
    justify-content: space-between; 
    position: sticky; 
    top: 0; 
  }
  
  .nav {
      color: var(--primary-color); 
      font-family: Lato;  
      position: sticky; 
      top: 0; 
  }
  
  
  .active {
    text-decoration: none; 
    color: var(--quinary-color); 
    font-family: Lato; 
    position: sticky; 
    top: 0; 
  }
  
  .nav-item{
    font-size: 2em; 
    color: var(--primary-color); 
    font-family: Lato; 
    position: sticky; 
    top: 0; 
  }
  
  a.nav-item {
    color: var(--primary-color); 
    font-family: Lato; 
    position: sticky; 
    top: 0; 
  }
  
  a.nav-link{
    text-decoration: none;
    color: var(--primary-color); 
    font-family: Lato; 
    position: sticky; 
    top: 0; 
  }
  
  a.nav-link:hover {
      text-decoration: none; 
      color: var(--quaternary-color); 
      font-family: Lato;  
      position: sticky; 
      top: 0; 
      letter-spacing: 2em;
  }
  
  a.nav-link:active {
    text-decoration: none; 
    color: var(--primary-color); 
    font-family: Lato; 
    background-color: var(--quaternary-color);
    position: sticky; 
    top: 0; 
  }
  
  a.nav-link:visited {
    color: var(--primary-color); 
    font-family: Lato; 
    text-decoration: none; 
    position: sticky; 
    top: 0; 
  }
  
  a.nav-link:visited:hover {
    color: var(--quinary-color); 
  }
  
  .hover-2 {
    --h: 1.2em;   /* the height */
    
    line-height: var(--h);
    background: 
      linear-gradient( #D5BDAF 0 0) 
      bottom/100% calc(100% - var(--_i,1)*100%) no-repeat;
    overflow: hidden;
    transition: 0.3s;
    font-family: Lato; 
    position: sticky; 
    top: 0; 
  }
  
  .hover-2:hover {
    --_i: 0;
    text-decoration: none; 
    font-family: Lato; 
    color: var(--quinary-color);
    position: sticky; 
    top: 0; 
  }

.footer {
    display: flex; 
    justify-content: space-evenly; 
    margin-top: 10%; 
    font-family: Lato; 
    font-size: 1.5em; 
    font-weight: bold; 
    text-decoration: none;
}


.footer a {
    text-decoration: none; 
    color: var(--primary-color);
    margin: 10px;
}

.footer a:hover {
    text-decoration: none; 
    color: var(--tertiary-color);
}

.name-plate {
    text-transform: uppercase; 
    text-align: center;
    font-size: 3em; 
}







  @media only screen and (max-width: 600px) {
    
    .navcontainer {
      background-color: var(--quinary-color);
      display: flex;
      flex-direction: column;  
      align-items: center; 
      color: var(--secondary-color); 
      font-family: Lato; 
    }
  
    .nav {
      background-color: var(--quinary-color);
      display: flex;
      flex-direction: column;  
      align-items: center; 
      color: var(--secondary-color); 
      font-family: Lato; 
  }
  
  .active {
    background-color: var(--quaternary-color);
  }
  
  .nav-item{
    font-size: 2em; 
    color: var(--secondary-color); 
    font-family: Lato; 
    margin: none; 
  }
  
  a.nav-link{
    color: var(--secondary-color); 
    font-family: Lato; 
    width: 100%; 
  }
  
  a.nav-link:visited {
    color: var(--secondary-color);  
    font-family: Lato;  
  text-decoration: none; 
  }
  
  li.active {
    background-color: var(--quaternary-color);
  }
  
  }



